* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'mukti';
    src: url('assets/font/mukti.ttf');
}

@font-face {
    font-family: 'Nikosh';
    src: url('assets/font/Nikosh.ttf');
    font-weight: bold;
}

body {
    font-size: 16px;
    background-color: #f8f9fa;
    font-family: Nikosh;
}

.navbar-brand img {
    max-width: 240px !important;
}

@media screen and (min-width: 1366px) {
    .main-navbar {
        width: 100%;
        padding-right: 100px;
        padding-left: 100px;
    }
}