* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'mukti';
    src: url('assets/font/mukti.ttf');
}

@font-face {
    font-family: 'Nikosh';
    src: url('assets/font/Nikosh.ttf');
    font-weight: bold;
}

body {
    font-size: 16px;
    background-color: #f8f9fa;
    font-family: Nikosh;
}

a {
    text-decoration: none;
}

.navbar-brand img {
    max-width: 240px !important;
}

@media screen and (min-width: 1366px) {
    .main-navbar {
        width: 100%;
        padding-right: 100px;
        padding-left: 100px;
    }
}

/* mega menu */
.dropdown-menu-lg {
    min-width: 800px;
    padding: 2rem;
}

.dropdown-menu .row>.col-md-6 {
    margin-bottom: 1rem;
}

.dot {
    height: 15px;
    width: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 2px !important;
    background-color: rgb(3, 88, 32);
    border-radius: 50%;
    display: inline-block;
}